@model IEnumerable<Client.Models.Category>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />

<h1>Index</h1>

<p>
    <a asp-action="Creates">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (index, item) in Model.Select((value, i) => (i, value)))
        {
            <tr>
                <td>@(index + 1)</td>
            <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.Guid/* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Deletes", new { item.Guid /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
