@model IEnumerable<Client.ViewModels.GetComplainForFinance>

@{
    ViewData["Title"] = "GetAllComplainFinance";
}

<h1>GetAllComplainFinance</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>
                @Html.DisplayNameFor(model => model.Guid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attachment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RiskLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResolutionNote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (index, item) in Model.Select((value, i) => (i + 1, value)))
        {
            <tr>
                <td>@(index + 1)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Guid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategoryName)
            </td>
                <td>
                    @if (item.Attachment != null)
                    {
                        <a href="data:image/jpg;base64,@Convert.ToBase64String(item.Attachment)" download="Image.jpg">
                            <img src="data:image/jpg;base64,@Convert.ToBase64String(item.Attachment)" width="100px" alt="Image" />
                        </a>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.RiskLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResolutionNote)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    var image = new Image();
    image.src = 'data:image/jpeg;base64,' + base64ImageData;
    image.width = '100px';
    image.alt = 'Image';

    document.body.appendChild(image);
</script>
